div.projectCard {
  width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  img {
    width: 296px;
    height: 200px;
    border: 2px solid #bb9457;
    border-radius: 10px;
  }

  .projectsCardInfo {
    padding: 10px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    .projectsCardSkills {
      margin-top: auto;
    }
  }
}
