div.projectRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  border: 2px solid #8c8c8c5a;
  border-radius: 10px;
  background-color: #312d46;

  .projectYear {
    flex: 1;
    color: #c0c0c0;
    font-size: 16px;
    text-align: center;
    min-width: 60px;
  }

  .projectTitle {
    min-width: 120px;
    flex: 3;
    font-size: 16px;
  }

  .projectSkills {
    min-width: 140px;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;

    .skillTag {
      background-color: #a7a7ad;
      color: #171421;
      border-radius: 999px;
      padding: 6px 14px;
      font-size: 10px;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
