div.experience {
  text-align: center;
  margin-top: 150px;

  .sectionTitle {
    color: #eaefd3;
    font-size: 30px;
  }

  .experienceDisplay {
    margin-top: 40px;
  }
}

.allExperienceButton {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.allExperienceButton a {
  color: #c0c0c0;
  text-decoration: none;

  width: 140px;
  padding: 8px 15px;

  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s ease;
}

.allExperienceButton a:hover {
  background: #6a6a6a;
}