div.info {
  color: #c0c0c0;
  text-align: center;
  margin-top: 80px;

  .intro {
    color: #BB9457;
  }

  .name {
    font-size: 30px;
    color: #eaefd3;
  }

  .course {
    margin-top: 20px;
    font-size: 20px;
  }

  .introduction {
    font-size: 16px;
    margin-top: 20px;
  }

  .skills {
    font-size: 16px;
    margin-top: 20px;
  }
}
