@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

div.mainLayout {
  display: flex;
  flex-direction: row;
  background-color: #27233a;
  min-height: 100vh;
  color: white;

  .displayLayout {
    flex: 1;
    margin-left: 220px;
    margin-right: 220px;

    .pageContent {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
