div.navbar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100vh;
  align-items: center;
  gap: 30px;

  .topLine {
    background-color: #dcc48e;
    width: 5px;
    height: 250px;
    border-radius: 10px;
  }

  nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div.navItem .active {
      background: #dcc48e;
      color: black;
    }

    div.navItem :hover {
      background: #6a6a6a;
    }

    div.navItem a {
      color: #dcc48e;
      text-decoration: none;
      display: block;
      width: 100px;
      padding: 8px 15px;
      margin: 10px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
    }
  }

  .bottomLine {
    background-color: #dcc48e;
    width: 5px;
    height: 250px;
    border-radius: 10px;
  }
}
